fastapi
uvicorn[standard]
python-dotenv
python-multipart
langchain
langchain-community
langchain-ollama
langchain-text-splitters
chromadb
pypdf
docx2txt
tiktoken
jieba
rank-bm25
pandas
openpyxl
xlrd
python-docx
requests
langchain-chroma
matplotlib
reportlab
langgraph
numpy